.txt-signinfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 95%;
    height:auto;
    outline: none;
    border: none;
    background-color: black;
    float: left;
    margin-top: 10px;
    margin-left: 23px;
    resize: none;
    max-width: 95%;
    max-height: 100%;
    min-height:85%;
    border-radius: 15px;
    color: white;
}

.txt-smalltitle {
    margin-left: 20px;
    font-family: STSong;
    font-size: x-large;
    vertical-align: central;
    margin-top: 10px;
    display: inline-block;
}

.txtbox-msg {
    font-family: 'Microsoft JhengHei UI';
    font-size: 25px;
    border: none;
    border-radius: 5px 6px;
    height: inherit;
    display: block;
    text-align: center;
    background-color: aliceblue;
}

    .txtbox-msg:focus {
        outline: none;
        box-shadow: 0px 0px 3px deepskyblue;
    }

.txt-tips {
    position: absolute;
    left: 0;
    right: 0;
    top:20px;
    display: inline-block;
    font-size: 20px;
    color: dimgray;
}
